@import "../../../../global_variables";

.pollspage {
  @include customH1;
  width: 100%;

  &-container {
    height: calc(100vh - 6rem);
    margin-top: 2rem;
    background-color: darken(white, 5);
    border-radius: 10px;
    padding: 2rem 1rem;
  }

  &-poll {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 300px;

      & h2 {
        margin-bottom: 2rem;
      }
    }
  }

  &-progress {
    width: 100%;

    &__bar {
      height: 5px;
      width: 80%;
      background-color: $primary-color;
      border-radius: 4px;
      transition: 0.2s ease-in-out;
    }
    & p {
      font-size: 0.8rem;
      opacity: 0.7;
      text-align: center;
    }
  }

  table {
    color: white;
    width: 100%;
    background-color: lighten($secondary-color-lighter, 5);

    font-size: 0.8rem;
    text-align: center;
    border-radius: 5px;

    & th {
      background-color: rgba(255, 255, 255, 0.3);
    }

    & tr {
      &:nth-child(2n) {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    & td {
      & button,
      a {
        display: inline-table;
      }
    }

    & th,
    td {
      padding: 0.3rem 0.3rem;
    }
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.question {
  margin-bottom: 2rem;
  &-answers {
    display: flex;
    flex-direction: column;

    & input {
      margin-right: 0.5rem;
    }
  }
}
