@import "../../global_variables";
.user-page {
  display: grid;
  grid-template-columns: auto 1fr auto;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.content {
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  justify-self: center;
  max-height: 100vh;

  @media screen and (max-width: 768px) {
    margin-top: 3.5rem;
  }
}
