@import "../../../global_variables";

$border-radius: 2rem;

.mainmenu {
  width: 250px;
  height: 100vh;
  background-color: $light-background;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1), 1px 0 2px rgba(0, 0, 0, 0.1);
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 3rem 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;

  &__logo {
    width: 100px;
    justify-self: center;

    @media screen and (max-width: 768px) {
      margin-top: 2rem;
    }

    & img {
      width: 100%;
    }
  }

  & ~ .bglayer {
    display: none;
  }
  &.active ~ .bglayer {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      position: fixed;
      height: 100vh;
      width: 100%;
      z-index: 1;
      background-color: black;
      animation: 0.3s show forwards;
    }
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    z-index: 2;
    transition: 0.3s ease-in-out;
    transform: translateX(-300px);

    &.active {
      transform: translateX(0px);
    }
  }
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    transition: color 0.3s ease-in-out;
    color: $primary-font-color;
    & svg {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }

    &.active {
      color: $primary-color;
    }

    &:hover {
      color: $primary-color;
    }
  }
}

a {
  color: initial;
  text-decoration: none;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
