$primary-color: rgb(22, 22, 214);
$primary-color-lighter: rgb(41, 41, 247);
$secondary-color: rgb(0, 87, 116);
$secondary-color-lighter: rgb(0, 145, 194);
$tertiary-color: black;
$font-gray: rgb(70, 70, 70);
