$primary-color: #125bd0;
$primary-color-lighter: rgb(41, 41, 247);
$secondary-color: rgb(3, 144, 190);
$secondary-color-lighter: rgb(0, 145, 194);
$tertiary-color: #2c973e;

$light-background: #fafafa;

$primary-font-color: rgb(58, 58, 58);
$font-gray: rgb(70, 70, 70);
