@import "global_variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* 

GLOBAL CLASS ELEMENTS

*/

/* 
    BUTTONS
*/
.button {
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &.primary {
    background-color: $primary-color;
  }

  &:hover {
    background-color: $primary-color-lighter;
  }
}

.apexcharts-toolbar {
  z-index: 0 !important;
}

.loading {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: $tertiary-color;
  border-top-color: $tertiary-color;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
  &:before {
    animation: spin 2s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: $primary-color;
    border-top-color: $primary-color;
    box-sizing: border-box;
    content: "";
    height: 16vmin;
    left: 0;
    position: absolute;
    top: 0;
    width: 16vmin;
  }
  &:after {
    animation: spin 3s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: $secondary-color;
    border-top-color: $secondary-color;
    box-sizing: border-box;
    content: "";
    height: 12vmin;
    left: 2vmin;
    position: absolute;
    top: 2vmin;
    width: 12vmin;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
